<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="p:domain_verify" content="3d2ba59a8f8db6f9e19fc627705a3276"/>
  <meta name="description" content="{{ page_description | escape }}">
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  
  <!-- Cart API -->
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {% comment %} {{ 'rivets-cart.min.js' | asset_url | script_tag }} {% endcomment %}
  {{ 'https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.1.0/rivets-cart.min.js'  | script_tag }}
  {% comment %} {{ 'https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.1.0/cart.min.js' | asset_url | script_tag }} {% endcomment %}
  
  {{ 'locomotive-scroll.min.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}

  {{ 'custom.js' | asset_url | script_tag }}

  {{ content_for_header }} <!-- Header hook for plugins -->

  <script type="text/javascript">
    jQuery(function() {
      CartJS.init({{ cart | json }}, {
        "debug": false,
        "requestBodyClass": "loading",
        "moneyFormat": "{{ shop.money_format }}",
        "weightUnit": "lb"
      });
    });
  </script>
  
<!--begin-boost-pfs-filter-css-->
  {% include 'boost-pfs-style' %}
<!--end-boost-pfs-filter-css-->

<!-- Hotjar Tracking Code for https://shop.kinrgy.com/ -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:980393,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

</head>

{%if template == '404' %}
  <body class="page-404">
{% elsif template contains 'product' %}
  <body class="{{ template | handleize }} product-{{ product.handle }}">
{% else %}
	<body class="{{ template | handleize }}">
{% endif %}

  {% section 'header' %}

  <div data-scroll-container class="data-scroll-container page-wrap">
    <main role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>

  <!-- locomotive scroll -->
  {{ 'locomotive-scroll.min.js' | asset_url | script_tag }}

  <!-- Gsap -->
  {{ 'gsap.js' | asset_url | script_tag }}
  {{ 'InteriaPlugin.js' | asset_url | script_tag }}
  {{ 'Draggable.js' | asset_url | script_tag }}

  <!-- main files -->
  {{ 'main.js' | asset_url | script_tag }}

  {% comment %} {% if template | handleize == 'collection' %}
    <div class="modal-filter">
      <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v">{%- include 'boost-pfs-filter-skeleton', type: 'filter-tree' -%}</div>
      <div class="boost-pfs-filter-refine-by-wrapper-v"></div>
    </div>
  {% endif %} {% endcomment %}


  {% section 'general-modal' %}
  {% include 'search-drawer' %}
  
<!--begin-boost-pfs-js-->
  {% include 'boost-pfs' %}
<!--end-boost-pfs-js-->
  {% render 'paywhirl-main' %}
</body>
</html>
