<footer>
  <section class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 form-col">
        <h3>{{ settings.footer_title_one }}</h3>
        <form meathod="post" enctype="application/x-www-form-urlencoded" id="footer-form">
          <div class="form-wrapper">
            <div class="form-inner">
              <div class="form-row email-and-submit">

                <input type="email" placeholder="Your email" name="email" required>
                <div class="submit-wrapper">
                  <input type="submit" name="submit">

                  {% include 'icon-arrow-right' %}
                </div>

              </div>
            </div>
            <div class="form-success">
              <div class="inner">
                {% include 'icon-circle-check' %}
                <p>Thank you for subscribing!</p>
              </div>
            </div>
            <div class="form-failed">
              <div class="inner">
                {% include 'icon-sadface' %}
                <p>Something went wrong. Please refresh and try again.</p>
              </div>
            </div>

          </div>
        </form>

      <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->


      {% comment %} <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
        portalId: "7407431",
        formId: "5350ad3d-a459-4c6c-bb8c-3202ff3affc1"
      });
      </script> {% endcomment %}
        
      </div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 offset-xl-1 offset-lg-1">
        <h3>{{ settings.footer_title_two }}</h3>
        <p>{{ linklists.settings.footer_menu_column_two.links }}</p>
        <p>{{ col_two_menu }}</p>
        <ul class="menu-plain">
          {% for link in linklists[settings.footer_menu_column_two].links %}
            <li>
              <a href="{{ link.url }}" 
              
              {% if settings.footer_menu_column_two == "footer-kinrgy" %} target="_blank" {% else %} target="_self {% endif %}
              "><span>{{ link.title }}</span>
                <i>{% include 'icon-menu-arrow-green' %}</i></a>
            </li>
          {% endfor %}
        </ul>
        
      </div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 offset-xl-1 offset-lg-1">
        <h3>{{ settings.footer_title_three }}</h3>
        <ul class="menu-plain">
          {% for link in linklists[settings.footer_menu_column_three].links %}
            <li>
              <a href="{{ link.url }}" target="_self">
                <span>{{ link.title }}</span>
                <i>{% include 'icon-menu-arrow-green' %}</i>
              </a>
            </li>
          {% endfor %}
        </ul>
        
      </div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xl-offset-1">
        <h3>{{ settings.footer_title_four }}</h3>
        <ul class="menu-plain">
          {% for link in linklists[settings.footer_menu_column_four].links %}
            <li>
              <a href="{{ link.url }}" 
              {% if link.title contains "Facebook" or link.title contains "Instagram" %} target="_blank" {% else %} target="_self" {% endif %}
              ><span>{{ link.title }}</span>
                <i>{% include 'icon-menu-arrow-green' %}</i>
              </a>
            </li>
          {% endfor %}
        </ul>
        
      </div>

    </div>
    <ul class="row subfooter-list">
      {% if settings.footer_copyright != blank %}
        <li>
          <p class="small">{{ settings.footer_copyright }} {{ "today" | date: "%Y" }}.</p>
        </li>
      {% endif %}
      <li>
        {% comment %} <p class="small">Website by <a href="https://buzzworthystudio.com" target="_blank" class="inline-single">Buzzworthy</a></p> {% endcomment %}
        <a href="https://buzzworthystudio.com" target="_blank" class="bs" >Website by Buzzworthy <span class="label">Studio</span>
        <span class="bs-logo">
          <svg viewBox="0 0 35 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="02-about" transform="translate(-1245.000000, -9330.000000)" fill="#FFFFFF" fill-rule="nonzero">
                      <g id="footer" transform="translate(0.000000, 8579.000000)">
                          <g id="bottom" transform="translate(560.000000, 675.000000)">
                              <g id="buzzworthy-symbol-circle-red" transform="translate(685.000000, 76.000000)">
                                  <path d="M17.5,35 C27.1630435,35 35,27.1685083 35,17.5 C35,7.83149171 27.1630435,0 17.5,0 C7.83695652,0 0,7.83149171 0,17.5 C0,27.1685083 7.83695652,35 17.5,35 Z M9.2123374,20.9840249 L11.752537,5.6 L15.495989,9.8653527 C16.3841039,10.7855187 17.6924022,11.4948133 19.5545786,11.5235685 L21.3499077,11.5235685 C21.493152,11.5139834 21.6363963,11.5139834 21.7700911,11.5139834 C26.907788,11.5139834 28.7508651,14.0348548 27.7290555,20.2459751 C26.8982384,25.2973029 23.6227178,28.5562241 19.1725937,28.7 L19.1725937,28.7 C18.9434028,28.7 18.7046622,28.7 18.4468224,28.7 L15.4195921,28.7 C9.88081098,28.7 8.68710816,25.0385062 9.2123374,20.9840249 Z M17.9207536,23.8 C19.7863721,23.8 21.2556675,22.2442455 21.6229914,19.95 C21.9903152,17.6557545 21.0236735,16.1 19.1483885,16.1 C17.3407685,16.1 15.8424739,17.6557545 15.47515,19.95 C15.1078261,22.234399 16.1131335,23.8 17.9207536,23.8 Z" id="Oval"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
        </span>
      </a>
        
      </li>
    </ul>
  </section>
</footer>