<section class="container material-and-care" id="product-material-and-care">
  <div class="row">
    <div class="col-md-4 offset-md-1 col-sm-8">
      <h3>{{ product.metafields.products.material_care.heading }}</h3>
      <p>{{ product.metafields.products.material_care.copy }}</p>
    </div>
    
    <div class="col-md-4 offset-md-2 col-sm-8">
      <ul class="care-icons js-tooltips">

       {% comment %} No Bleach {% endcomment %}
          {% if product.metafields.products.material_care.tooltips.no_bleach.boolean == true %}
            <li>
            <div class="tooltip-icon">
                {% include 'icon-do-not-bleach' %}
              </div>
              <p class="tooltip-text">{{ product.metafields.products.material_care.tooltips.no_bleach.tool_tip }}</p>
            </li>  
          {% endif %}

          {% comment %}  Tumble Dry {% endcomment %}
          {% if product.metafields.products.material_care.tooltips.tumble_dry.boolean == true %}
            <li>
            <div class="tooltip-icon">
                {% include 'icon-do-not-tumble-dry' %}
              </div>
              <p class="tooltip-text">{{ product.metafields.products.material_care.tooltips.tumble_dry.tool_tip }}</p>
            </li>  
          {% endif %}

          {% comment %} Dry Clean {% endcomment %}
          {% if product.metafields.products.material_care.tooltips.dry_clean.boolean == true %}
            <li>
              <div class="tooltip-icon">
                {% include 'icon-dry-clean' %}
              </div>
              <p class="tooltip-text">{{ product.metafields.products.material_care.tooltips.dry_clean.tool_tip }}</p>
            </li>  
          {% endif %}

          {% comment %} Forty Degrees {% endcomment %}
          {% if product.metafields.products.material_care.tooltips.forty_degrees.boolean == true %}
            <li>
            <div class="tooltip-icon">
                {% include 'icon-forty-degrees' %}
              </div>
              <p class="tooltip-text">{{ product.metafields.products.material_care.tooltips.forty_degrees.tool_tip }}</p>
            </li>  
          {% endif %}

      </ul>
    </div>
  </div>
</section>