<section class="hero2" style="background: url('{{ article.image.src | img_url: 'master' }}') center center/cover no-repeat">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1>
          <div class="top">{{ article.title }}</div>
        </h1>
      </div>
    </div>
  </div>
</section>

<div class="container txt-img">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}

      <div>{{ article.content }}</div>
    </div>
  </div>
</div>


