<section class="legal-section container" id="legal-section-top">
  <div class="row">
    <div class="col-12">
      {% include 'breadcrumbs' %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" id="pinSection">
      <ul class="sidebar-menu" data-scroll-id="product-sticky" data-scroll="" data-scroll-sticky="" data-scroll-offset="-95, 95" data-scroll-target="#pinSection" data-scroll-repeat>

          {% for link in linklists.help-sidebar.links %}

              <li>
                <a href="{{ link.url }}" target="_self"
                {% if link.current %} aria-current="page"{% endif %}>
                  {{ link.title }}
                  {% include 'icon-arrow-right-menu' %}
                </a>
              </li>

          {% endfor %}


      </ul>
    </div>
    <div class="col-md-7 offset-md-1 legal-content-col">
      <div class="row heading">
        <div class="col-12">
          <h1 class="f-80">{{ page.title | capitalize }}</h1>
        </div>
      </div>
      <div class="row legal-content">

        {% section 'accordion-list' %}

        {% comment %} {% if page.metafields.page.accordion_list != blank %}

          <ul class="accordion-list">
            {% for item in page.metafields.page.accordion_list.accordions %}

              <li>
                  <a class="accordion-link" href="#">
                    {{ item.heading }}
                    {% include 'icon-green-plus' %}
                  </a>
                  <div class="accordion-content">
                    <div class="inner-wrapper">
                      {{ item.content }}
                    </div>
                  </div>
              </li>
            {% endfor %}
          </ul>

        {% endif %} {% endcomment %}

      </div>
    </div>
  </div>
</section>