{% assign current_variant = product.selected_or_first_available_variant %}

{% comment %} If tag matches one of the default size guides {% endcomment %}
{% assign size_guide_image = false %}

{% comment %} Start Size Guide {% endcomment %}
  {% comment %} Crop Tank {% endcomment %}
  {% if product.tags contains "Bra" or
        product.tags contains "bra" or
        product.tags contains "Tank" or
        product.tags contains "tank"
  %}
    {% assign size_guide_image = true %}

  {% comment %} Crop Sweatshirt  {% endcomment %}
  {% elsif product.tags contains "Crop" or
        product.tags contains "crop" and
        product.tags contains "Sweatshirt" or
        product.tags contains "sweatshirt"
  %}
    {% assign size_guide_image = true %}

  {% comment %} Unity Crop Sweatshirt  {% endcomment %}
  {% elsif product.tags contains "Crewneck" or
        product.tags contains "crewneck" and
        product.tags contains "Sweatshirt" or
        product.tags contains "sweatshirt"
  %}
    {% assign size_guide_image = true %}

  {% comment %} Long Sleeve {% endcomment %}
  {% elsif product.tags contains "Long Sleeve" or 
        product.tags contains "Long sleeve" or 
        product.tags contains "long sleeve" 
  %}
    {% assign size_guide_image = true %}

  {% comment %} Crop Tank {% endcomment %}
  {% elsif product.tags contains "Crop" or 
        product.tags contains "crop" and
        product.tags contains "Tank" or
        product.tags contains "tank"
  %}
    {% assign size_guide_image = true %}

  {% comment %} Crop Hoodie {% endcomment %}
  {% elsif product.tags contains "Hoodie" or 
        product.tags contains "hoodie" and
        product.tags contains "Crop" or 
        product.tags contains "crop"
  %}
    {% assign size_guide_image = true %}

  {% comment %} Hoodie {% endcomment %}
  {% elsif product.tags contains "Hoodie" or 
        product.tags contains "hoodie"
  %}
    {% assign size_guide_image = true %}

  {% comment %} Sweatshirt {% endcomment %}
  {% elsif product.tags contains "Sweatshirt" or 
        product.tags contains "sweatshirt"
  %}
    {% assign size_guide_image = true %}
  {% endif %}
{% comment %} End Size Guide {% endcomment %}

{% comment %} SVG ICON - top left of page {% endcomment %}
{% include 'icon-product' %}

<section class="product-section-one container" id="product-section-top">
  <div class="row">
    <div class="col-md-12">
      {% include 'breadcrumbs' %}
    </div>
  </div>
  <div class="row">

      <div class="col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-12 col-xs-12">

        {% include 'product-images' %}
        
      </div>

      <div class="col-lg-4 offset-lg-1 col-md-4 offset-md-1 col-sm-8 col-xs-12 col-xs-offset-0" id="pinSection">
        <div class="product-form">
          <div class="sticky-wrapper" data-scroll-id="product-sticky" data-scroll="" data-scroll-sticky="" data-scroll-target="#pinSection" data-scroll-repeat data-scroll-offset="-95, 95">

            {% include 'product-general-information' %}

            {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}

            {% unless product.has_only_default_variant %}

            {% for option in product.options_with_values %}
              {% if option.name == 'Color' %}

                <label class="variant-title">Color: <span id="colorName">{{ option.values[0] }}</span></label>

                {% include 'swatch' with 'Color' %}
              {% endif %}
            {% endfor %}

            {% comment %} <input type="hidden-item" id="productColorHiddenValue" name="properties[size]" value="red" /> {% endcomment %}

            {% for option in product.options_with_values %}
              {% if option.name == 'Size' %}

                <ul class="with-size-guide">
                  <li>
                      <label class="variant-title">Size</label>
                      <div class="js {{ option.name }}">

                      {% if forloop.index > 0 %}
                        <select class="select-{{ option.name }}" id="productSize"
                          name="options[{{ option.name }}]" 
                          value="{{ value }}" 
                          {% if option.selected_value == value %} checked{% endif %}>
                          {% for value in option.values %}
                            <option for="Option{{ option.position }}-{{ value }}" 
                              value="{{ value }}">{{ value }}</option>
                          {% endfor %}
                        </select>
                      {% endif %}
                    </div>
                  </li>

                  {% if option.name == 'Size'  %}
                    <li class="size-guide" data-tags="{{ product.tags }}">
                    {% if product.metafields.products.size_guide_modal_id != blank %}
                        <p><a href="#" class="inline-single js-modal-button" target="_self" data-modal-id="general-modal" data-content="{{ product.metafields.products.size_guide_modal_id }}">Size Guide</a></p>
                      {% elsif size_guide_image != false %}
                        <p><a href="#" class="inline-single js-modal-button" target="_self" data-modal-id="general-modal" data-content="size-guide-content-default">Size Guide</a></p>
                      {% endif %}
                      
                    </li>
                  {% endif %}
              </ul>
            {%endif%}

            {% endfor %}
            {% endunless %}

            <label class="variant-title">Quantity</label>
            <select class="select-qty" id="productQuantity" name="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <select class="selected-option" name="id" id="masterSelect" style="display: none">
              {% for variant in product.variants %}
              <option {% if variant == current_variant %}selected="selected" {% endif %}
                {% unless variant.available %}disabled="disabled" {% endunless %} value="{{ variant.id }}"
                data-option="{{ variant.title }}" data-inventory="{{ variant.inventory_quantity }}"

                {% if variant.option1 != blank %}
                  data-variant-one="{{ variant.option1 }}"  
                {% endif %}

                data-inventory-policy="{{ variant.inventory_policy }}"
                data-inventory-management="{{ variant.inventory_management }}"

                {% if variant.option2 != blank %}
                  data-variant-two="{{ variant.option2 }}"  
                {% endif %}

                >{{ variant.title }}
              </option>
              {% endfor %}
            </select>

            {% if product.requires_selling_plan == true %}

              {% render 'paywhirl-plan-selector', product: product %}
               
            {% endif %}

            {% if current_variant.available %}
              <div class="cart-button-wrapper" data-text="add to bag">
            {% else %}
              <div class="cart-button-wrapper" data-text="sold out">
            {% endif %}
                <button class="btn button regular-button pink submit" data-text="add to bag"
                  {% unless current_variant.available %}disabled="disabled" {% endunless %}>

                  <span data-submit-button-text>
                    {% if current_variant.available %}
                      Add to cart
                    {% else %}
                    sold out
                    {% endif %}
                  </span>
                </button>
              </div>
              {% endform %}

            </div>
          </div>
        </div>
      </div>
</section>

{% comment %} If product is an accessory - don't display material and care section below {% endcomment %}
{% assign if_accessory = true %}
{% for tag in product.tags %}
  {% if product.tags contains "Accessories" or product.tags contains "accessories" %}
    {% assign if_accessory = false %}
  {% endif %}
{% endfor %}

{% if if_accessory == true %}
                    
  {% comment %} Material and care  {% endcomment %}
  {% if product.metafields.products.material_care != null %}
    {% section 'material-and-care-variable' %}
  {% elsif product.metafields.products.material_care  == null %}
    {% section 'material-and-care-default' %}
  {% endif %}

{% endif %}




{% comment %} Related Collections {% endcomment %}
{% section 'product-collection-slider' %}

{% comment %} Modal Content - Metafields {% endcomment %}
<div class="modal-content-wrapper" id="modal-content-wrapper-product">
  
  {% if product.metafields.products.size_guide_modal_id != blank %}
    <div id="{{ product.metafields.products.size_guide_modal_id }}">
        {{ product.metafields.products.size_guide }}
    </div>
  {% else %}
    {% section 'default-size-guide' %}
  {% endif %}

</div>