{% assign current_variant = product.selected_or_first_available_variant %}

<section class="product-section-one">
  <div class="row-wrapper">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

        {% if product.images.size > 1 %}
        <div class="row">

          <div class="col-xs-2 thumbs-wrapper">
            <div class="thumbs">
              {% for image in product.images %}
              <div class="item">
                <img class="product-single__thumbnail-image" src="{{ image.src | img_url: 'x375' }}"
                  alt="{{ image.alt | escape }}">
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="col-xs-10">
            <div class="product-detail-slider">
              {% for image in product.images %}
              <div class="item">
                <img class="product-single__thumbnail-image"
                  src="{{ image.src | img_url: '900x1400', crop: 'center' }}" alt="{{ image.alt | escape }}">
              </div>
              {% endfor %}
            </div>
          </div>

        </div>

        {% else %}
          <div class="row single-image">
            <div class="col-xs-12">

              {% for image in product.images %}
              <div class="item">
                <img class="product-single__thumbnail-image"
                    src="{{ image.src | img_url: '900x1400', crop: 'center' }}" alt="{{ image.alt | escape }}">
              </div>
              {% endfor %}

            </div>
          </div>

        {% endif %}
      </div>

      <div
        class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <div class="product-form">


          <h2>{{ product.title }}</h2>

          <div class="price">{{ product.price | money }} </div>

          <div class="description">
            <p>{{ product.description | truncate: 84 }} <a class="scroll underlined" href="description"><span
                  class="text">Detailed description</span></a></p>
          </div>

          {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
          {% unless product.has_only_default_variant %}

          {% for option in product.options_with_values %}
          {% if option.name == 'Color' %}
          {% include 'swatch' with 'Color' %}
          {% endif %}
          {% endfor %}

          {% for option in product.options_with_values %}
          {% if option.name == 'Size' %}
          <div class="js {{ option.name }}">

            {% if forloop.index > 0 %}
            <select class="select-{{ option.name }}" id="Option{{ option.position }}-{{ value }}"
              name="options[{{ option.name }}]" value="{{ value }}" {% if option.selected_value == value %}
              checked{% endif %}>
              {% for value in option.values %}
              <option for="Option{{ option.position }}-{{ value }}" value="{{ value }}">{{ value }}</option>
              {% endfor %}
            </select>
            {% endif %}
          </div>
          {%endif%}

          {% endfor %}
          {% endunless %}

          <select class="select-qty">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <select class="selected-option" name="id" style="display: none">
            {% for variant in product.variants %}
            <option {% if variant == current_variant %}selected="selected" {% endif %}
              {% unless variant.available %}disabled="disabled" {% endunless %} value="{{ variant.id }}"
              option="{{ variant.title }}">
              {{ variant.title }}
            </option>
            {% endfor %}
          </select>

          {% if current_variant.available %}
          <div class="cart-button-wrapper" data-text="add to bag">
          {% else %}
            <div class="cart-button-wrapper" data-text="sold out">
          {% endif %}
              <button class="btn button submit" data-text="add to bag"
                {% unless current_variant.available %}disabled="disabled" {% endunless %}>

                <span data-submit-button-text>
                  {% if current_variant.available %}
                  {{ 'add_to_cart' }}
                  {% else %}
                  {{ 'sold_out' }}
                  {% endif %}
                </span>
              </button>
            </div>
            <!-- <div class="size-guide"><a class="underlined" href="#"><span class="text">Size Guide</span></a></div> -->
            {% endform %}

          </div>
        </div>
      </div>
    </div>
</section>